@font-face {
    font-family: 'sidebar';
    src: url('./fonts/majormonodisplay-regular-webfont.woff2') format('woff2'),
         url('./fonts/majormonodisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --main-background-color: #141414;
    --secondary-color: #0a0a0a;
    --main-font-size: 1.5rem;
    --secondary-font-size: 1.3rem;
    --main-text-color: whitesmoke;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    padding: 5px;
    background-color: var(--main-background-color);
}

.sidebar-image {
    width: 40%;
}

.sidebar-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 100%;
}

.login {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient( 360deg, #000000, #141414);
}

.login-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin: 1rem;
    background-color: var(--main-background-color);
    border-radius: 15px;
    padding: 1rem
}

.login-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: var(--main-font-size);
    gap: 15px;
    color: var(--main-text-color);
}

.login-header > img {
    width: 3rem;
    height: auto;
}


.login-form {
    background: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-form > fieldset {
    border: none;
    background-color: var(--main-background-color);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 25px;
}

.login-form > fieldset > legend {
    position: absolute;
    opacity: 100;
    top: -5px;
    align-self: center;
    font-size: var(--secondary-font-size);
    color: var(--main-text-color);
}

.login-form > fieldset > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}

.login-form > fieldset > div > div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: calc(50% - 5rem);
    color: var(--main-text-color);
}

.user-name {
    margin-top: calc(20px + 3rem);
}

label {
    font-size: 0.9rem;
}

input {
    height: 2rem;
    border-radius: 5px;
    border: solid 1px #969696;
    background-color: var();
}


.login-form > button {
    height: 3rem;
    align-self: center;
    width: calc(100% - 5rem + 0.25rem);
    font-size: var(--secondary-font-size);
}


.login-footer {
    font-size: var(--secondary-font-size);
    text-align: center;
}

