@font-face {
    font-family: 'sidebar';
    src: url('./fonts/majormonodisplay-regular-webfont.woff2') format('woff2'),
         url('./fonts/majormonodisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --main-background-color: #0a0a0a;
    --secondary-color: #242424;

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: var(--main-background-color);
}

.sidebar-image {
    width: 40vw;
    height: 100vh;

}

.sidebar-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 100%;
}

.login {
    width: 60vw;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.login-header {

}

.login-form {
    height: 60%;
    width: 100%;
    background-color: var(--secondary-color);
}

.login-footer {

}
