@font-face {
    font-family: 'sidebar';
    src: url('./fonts/majormonodisplay-regular-webfont.woff2') format('woff2'),
         url('./fonts/majormonodisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --main-background-color: #0a0a0a;
    --secondary-color: #242424;

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    padding: 5px;
    background-color: var(--main-background-color);
}

.sidebar-image {
    width: 40%;
    background-color: blue;
}

.sidebar-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 100%;
}

.login {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    background-color: var(--main-background-color);
    padding: 1rem;
}

.login-header {
    background-color: red;
    text-align: center;
}

.login-form {
    height: 80%;
    background-color: var(--secondary-color);
}

.login-footer {
    background-color: aqua;
}
